body {
  background-color: #e5e5e5;
  font-size: 18px;
  font-family: "Dosis", sans-serif;
}

/* top md8 */
/* menu */
header .home .col-md-8 {
  display: flex;
  justify-content: space-between;
}

header .col-md-8 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

img.menu-icon {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
}

/* fooditem */
.col-md-8 p {
  font-size: 30px;
  font-weight: bold;
  padding-top: 15px;
}

/* search */
.search {
  padding: 20px;
}

/* top md4 */
.row .col-md-4 {
  position: relative;
  width: 100%;
  font-size: 30px;
  padding-top: 10px;
  background: white;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.col-md-4 p {
  font-weight: bold;
}
.col-md-4 span {
  background-color: #57cad5;
  color: white;
  border-radius: 50%;
  margin: 5px;
  font-size: 25px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
}
/* --------------------------------------------------- */
/* sidebar */
.sidebar .row {
  display: flex;
  flex-wrap: wrap;

  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.sidebar .col-md-1 {
  padding-right: 15px;
  padding-left: 15px;

  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
/* icon */
.sidebar img {
  width: 35px;
}

.col-md-1 .fork {
  margin-top: 20px;
  margin-bottom: 20px;
}
.col-md-1 .clipboard {
  margin-top: 20px;
  margin-bottom: 20px;
}
.col-md-1 .add {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebar .col-md-4 {
  font-size: 30px;
  padding-top: 10px;
  background: white;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
}
/* ------------------------------------------------ */
/* menu */
.cart .hover:hover {
  box-shadow: 0px 1px 0px rgb(0, 255, 239);
  transform: scale(1.02);
}
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: rgba(190, 195, 202, 0.3);
}

.menu p {
  font-weight: bold;
}

.sidebar .menu img {
  width: 250px;
  height: 200px;
  padding-top: 20px;
  vertical-align: middle;
  border-style: none;
}

/* checklist */
.menu .select-image .select-icon {
  margin-top: 50px;
  margin-left: 100px;
  width: 40px;
  height: 60px;
}
.menu .select-image1 .select-icon {
  margin-top: 50px;
  margin-left: 100px;
  width: 40px;
  height: 60px;
}
.menu .select-image2 .select-icon {
  margin-top: 50px;
  margin-left: 100px;
  width: 40px;
  height: 60px;
}

.menu .select-image {
  width: 250px;
  height: 180px;
  margin-top: 20px;
  border-radius: 10px 10px 0px 0px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
}
.menu .select-image1 {
  width: 250px;
  height: 180px;
  margin-top: 300px;
  border-radius: 10px 10px 0px 0px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
}
.menu .select-image2 {
  width: 250px;
  height: 180px;
  margin-top: 579px;
  border-radius: 10px 10px 0px 0px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
}

/* ------------------------------------- */
/* cart bottom */
.cart {
  background: white;
  border: 1px solid #cecece;
}

.cart .img-cart {
  display: flex;
  justify-content: space-between;
}

.cart .img-cart img {
  padding: 20px;
  width: 150px;
  height: 150px;
  vertical-align: middle;
}

.cart .img-cart .items .min {
  display: inline-block;
  border: 1px solid limegreen;
  padding: 5px 10px;
  color: green;
  font-size: 20px;
  font-weight: bold;
  background: rgba(130, 222, 58, 0.2);
  border: 1px solid #82de3a;
  box-sizing: border-box;
}

.cart .img-cart .items .number {
  display: inline-block;
  border: 1px solid limegreen;
  padding: 5px 10px;
  color: #82de3a;
  font-size: 20px;
  font-weight: bold;
  background: #ffffff;
  border: 1px solid #82de3a;
  box-sizing: border-box;
}

.cart .img-cart .items .plus {
  display: inline-block;
  border: 1px solid limegreen;
  padding: 5px 10px;
  color: green;
  font-size: 20px;
  font-weight: bold;
  background: rgba(130, 222, 58, 0.2);
  border: 1px solid #82de3a;
  box-sizing: border-box;
}
.cart .img-cart .items p {
  margin-right: 10px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  line-height: 33px;
}

.cart .img-cart .price {
  font-size: 20px;
  margin-top: 60px;
  padding-right: 20px;
  font-weight: bold;
}
/* 1-------------------------- */
.cart .img-cart1 {
  display: flex;
  justify-content: space-between;
}

.cart .img-cart1 img {
  padding: 20px;
  width: 150px;
  height: 150px;
  vertical-align: middle;
}

.cart .img-cart1 .items .min {
  display: inline-block;
  border: 1px solid limegreen;
  padding: 5px 10px;
  color: green;
  font-size: 20px;
  font-weight: bold;
  background: rgba(130, 222, 58, 0.2);
  border: 1px solid #82de3a;
  box-sizing: border-box;
}

.cart .img-cart1 .items .number {
  display: inline-block;
  border: 1px solid limegreen;
  padding: 5px 10px;
  color: #82de3a;
  font-size: 20px;
  font-weight: bold;
  background: #ffffff;
  border: 1px solid #82de3a;
  box-sizing: border-box;
}

.cart .img-cart1 .items .plus {
  display: inline-block;
  border: 1px solid limegreen;
  padding: 5px 10px;
  color: green;
  font-size: 20px;
  font-weight: bold;
  background: rgba(130, 222, 58, 0.2);
  border: 1px solid #82de3a;
  box-sizing: border-box;
}
.cart .img-cart1 .items p {
  margin-right: 10px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  line-height: 33px;
}

.cart .img-cart1 .price {
  font-size: 20px;
  margin-top: 60px;
  padding-right: 20px;
  font-weight: bold;
}
/* 2---------------------------- */

.cart .img-cart2 {
  display: flex;
  justify-content: space-between;
}

.cart .img-cart2 img {
  padding: 20px;
  width: 150px;
  height: 150px;
  vertical-align: middle;
}

.cart .img-cart2 .items .min {
  display: inline-block;
  border: 1px solid limegreen;
  padding: 5px 10px;
  color: green;
  font-size: 20px;
  font-weight: bold;
  background: rgba(130, 222, 58, 0.2);
  border: 1px solid #82de3a;
  box-sizing: border-box;
}

.cart .img-cart2 .items .number {
  display: inline-block;
  border: 1px solid limegreen;
  padding: 5px 10px;
  color: #82de3a;
  font-size: 20px;
  font-weight: bold;
  background: #ffffff;
  border: 1px solid #82de3a;
  box-sizing: border-box;
}

.cart .img-cart2 .items .plus {
  display: inline-block;
  border: 1px solid limegreen;
  padding: 5px 10px;
  color: green;
  font-size: 20px;
  font-weight: bold;
  background: rgba(130, 222, 58, 0.2);
  border: 1px solid #82de3a;
  box-sizing: border-box;
}
.cart .img-cart2 .items p {
  margin-right: 10px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  line-height: 33px;
}

.cart .img-cart2 .price {
  font-size: 20px;
  margin-top: 60px;
  padding-right: 20px;
  font-weight: bold;
}
/* ----------------------------- */
.cart .total {
  display: flex;
  justify-content: space-between;
}

.cart .total h4 {
  margin-top: 200px;
  font-size: 24px;
  font-weight: bold;
}

.cart .total p {
  font-size: 20px;
  color: grey;
}

.cart .total-box .checkout {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: white;
  background: #57cad5;
}

.cart .total-box .cancel {
  margin-top: 10px;
  background: #f24f8a;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: white;
}

/* modal add*/
.fade .add {
  display: flex;
  justify-content: wrap;
}

.fade .modal-dialog .modal-title {
  font-size: 35px;
  font-weight: bold;
}

.fade .add label {
  font-weight: bold;
}

.fade .add .row {
  margin-left: 20px;
  width: 400px;
}

.fade .btn-pink {
  color: white;
  background: #f24f8a;
}

.fade .btn-blue {
  color: white;
  background: #57cad5;
}

/* modal checkout */
.fade .checkout {
  display: flex;
  justify-content: space-between;
}

.fade .checkout p {
  font-weight: bold;
}

.fade .footer {
  display: flex;
  flex-direction: column;
}
.fade .footer .send-email {
  margin-top: 10px;
  width: 400px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: white;
  background: #57cad5;
  border-radius: 10px;
}

.fade .footer p {
  margin-bottom: -10px;
  font-weight: bold;
}

.fade .footer .print {
  margin-top: 10px;
  width: 400px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: white;
  background: #f24f8a;
  border-radius: 10px;
}

/* RESPONSIVE */
/* small size */
@media screen and (max-width: 600px) {
  .sidebar .col-md-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  .col-md-7 {
    /* display: grid;
            grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* ------------------------------------------------ */
  .cart .img-cart img {
    padding: 20px;
    width: 110px;
    height: 110px;
    vertical-align: middle;
  }

  .cart .img-cart .items .min {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: green;
    font-size: 10px;
    font-weight: bold;
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }

  .cart .img-cart .items .number {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: #82de3a;
    font-size: 10px;
    font-weight: bold;
    background: #ffffff;
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }

  .cart .img-cart .items .plus {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: green;
    font-size: 10px;
    font-weight: bold;
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }
  .cart .img-cart .items p {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 33px;
  }

  .cart .img-cart .price {
    font-size: 15px;
    margin-top: 60px;
    padding-right: 20px;
    font-weight: bold;
  }
  /* 1 ---------------------- */
  .cart .img-cart1 {
    display: flex;
    justify-content: space-between;
  }

  .cart .img-cart1 img {
    padding: 20px;
    width: 110px;
    height: 110px;
    vertical-align: middle;
  }

  .cart .img-cart1 .items .min {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: green;
    font-size: 10px;
    font-weight: bold;
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }

  .cart .img-cart1 .items .number {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: #82de3a;
    font-size: 10px;
    font-weight: bold;
    background: #ffffff;
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }

  .cart .img-cart1 .items .plus {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: green;
    font-size: 10px;
    font-weight: bold;
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }
  .cart .img-cart1 .items p {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 33px;
  }

  .cart .img-cart1 .price {
    font-size: 15px;
    margin-top: 60px;
    padding-right: 20px;
    font-weight: bold;
  }
  /* 2 ------------------------- */
  .cart .img-cart2 {
    display: flex;
    justify-content: space-between;
  }

  .cart .img-cart2 img {
    padding: 20px;
    width: 110px;
    height: 110px;
    vertical-align: middle;
  }

  .cart .img-cart2 .items .min {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: green;
    font-size: 10px;
    font-weight: bold;
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }

  .cart .img-cart2 .items .number {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: #82de3a;
    font-size: 10px;
    font-weight: bold;
    background: #ffffff;
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }

  .cart .img-cart2 .items .plus {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: green;
    font-size: 10px;
    font-weight: bold;
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }
  .cart .img-cart2 .items p {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 33px;
  }

  .cart .img-cart2 .price {
    font-size: 15px;
    margin-top: 60px;
    padding-right: 20px;
    font-weight: bold;
  }
  .fade .footer .print {
    margin-top: 10px;
    width: 250px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
    background: #f24f8a;
    border-radius: 10px;
  }
  .fade .footer .send-email {
    margin-top: 10px;
    width: 250px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
    background: #57cad5;
    border-radius: 10px;
  }

  .fade .add .row {
    margin-left: 10px;
    width: 250px;
  }
}

/* medium size */
@media (min-width: 700px) and (max-width: 1000px) {
  .col-md-7 {
    /* display: grid;
              grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sidebar .col-md-7 img {
    width: 200px;
    height: 200px;
    padding-top: 20px;
    vertical-align: middle;
    border-style: none;
  }

  img.menu-icon {
    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 20px;
  }

  .col-md-1 .fork {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .col-md-1 .clipboard {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* filter */
  .menu .select-image .select-icon {
    margin-top: 50px;
    margin-left: 80px;
    width: 40px;
    height: 60px;
  }
  .menu .select-image1 .select-icon {
    margin-top: 50px;
    margin-left: 80px;
    width: 40px;
    height: 60px;
  }
  .menu .select-image2 .select-icon {
    margin-top: 50px;
    margin-left: 80px;
    width: 40px;
    height: 60px;
  }
  .menu .select-image {
    width: 200px;
  }
  .menu .select-image1 {
    width: 200px;
    margin-top: 578px;
  }
  .menu .select-image2 {
    width: 200px;
    margin-top: 857px;
  }
  /* cart ------------------------- */
  .cart .img-cart {
    display: flex;
    justify-content: space-between;
  }

  .cart .img-cart img {
    padding: 20px;
    width: 110px;
    height: 110px;
    vertical-align: middle;
  }

  .cart .img-cart .items .min {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: green;
    font-size: 10px;
    font-weight: bold;
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }

  .cart .img-cart .items .number {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: #82de3a;
    font-size: 10px;
    font-weight: bold;
    background: #ffffff;
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }

  .cart .img-cart .items .plus {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: green;
    font-size: 10px;
    font-weight: bold;
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }
  .cart .img-cart .items p {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    line-height: 33px;
  }

  .cart .img-cart .price {
    font-size: 15px;
    margin-top: 60px;
    padding-right: 20px;
    font-weight: bold;
  }

  /* 1 ---------------------- */
  .cart .img-cart1 {
    display: flex;
    justify-content: space-between;
  }

  .cart .img-cart1 img {
    padding: 20px;
    width: 110px;
    height: 110px;
    vertical-align: middle;
  }

  .cart .img-cart1 .items .min {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: green;
    font-size: 10px;
    font-weight: bold;
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }

  .cart .img-cart1 .items .number {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: #82de3a;
    font-size: 10px;
    font-weight: bold;
    background: #ffffff;
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }

  .cart .img-cart1 .items .plus {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: green;
    font-size: 10px;
    font-weight: bold;
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }
  .cart .img-cart1 .items p {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 33px;
  }

  .cart .img-cart1 .price {
    font-size: 15px;
    margin-top: 60px;
    padding-right: 20px;
    font-weight: bold;
  }
  /* 2 ------------------------- */
  .cart .img-cart2 {
    display: flex;
    justify-content: space-between;
  }

  .cart .img-cart2 img {
    padding: 20px;
    width: 110px;
    height: 110px;
    vertical-align: middle;
  }

  .cart .img-cart2 .items .min {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: green;
    font-size: 10px;
    font-weight: bold;
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }

  .cart .img-cart2 .items .number {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: #82de3a;
    font-size: 10px;
    font-weight: bold;
    background: #ffffff;
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }

  .cart .img-cart2 .items .plus {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: green;
    font-size: 10px;
    font-weight: bold;
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }
  .cart .img-cart2 .items p {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 33px;
  }

  .cart .img-cart2 .price {
    font-size: 14px;
    margin-top: 60px;
    padding-right: 20px;
    font-weight: bold;
  }

  .cart .total h4 {
    margin-top: 200px;
    font-size: 20px;
    font-weight: bold;
  }

  .cart .total p {
    font-size: 15px;
    color: grey;
  }
}

/* large size */
@media (min-width: 1001px) and (max-width: 1025px) {
  .col-md-7 {
    /* display: grid;
                grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sidebar .col-md-7 img {
    width: 250px;
    height: 250px;
    padding-top: 20px;
    vertical-align: middle;
    border-style: none;
  }

  img.menu-icon {
    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 20px;
  }

  .col-md-1 .fork {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .col-md-1 .clipboard {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* filter */
  .menu .select-image .select-icon {
    margin-top: 70px;
    margin-left: 110px;
    width: 40px;
    height: 60px;
  }
  .menu .select-image1 .select-icon {
    margin-top: 70px;
    margin-left: 110px;
    width: 40px;
    height: 60px;
  }
  .menu .select-image2 .select-icon {
    margin-top: 70px;
    margin-left: 110px;
    width: 40px;
    height: 60px;
  }
  .menu .select-image {
    width: 250px;
    height: 230px;
  }
  .menu .select-image1 {
    width: 250px;
    height: 230px;
    margin-top: 680px;
  }
  .menu .select-image2 {
    width: 250px;
    height: 230px;
    margin-top: 1008px;
  }
  /* cart ------------------------- */
  .cart .img-cart {
    display: flex;
    justify-content: space-between;
  }

  .cart .img-cart img {
    padding: 20px;
    width: 110px;
    height: 110px;
    vertical-align: middle;
  }

  .cart .img-cart .items .min {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: green;
    font-size: 10px;
    font-weight: bold;
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }

  .cart .img-cart .items .number {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: #82de3a;
    font-size: 10px;
    font-weight: bold;
    background: #ffffff;
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }

  .cart .img-cart .items .plus {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: green;
    font-size: 10px;
    font-weight: bold;
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }
  .cart .img-cart .items p {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 33px;
  }

  .cart .img-cart .price {
    font-size: 20px;
    margin-top: 60px;
    padding-right: 20px;
    font-weight: bold;
  }

  /* 1 ---------------------- */
  .cart .img-cart1 {
    display: flex;
    justify-content: space-between;
  }

  .cart .img-cart1 img {
    padding: 20px;
    width: 110px;
    height: 110px;
    vertical-align: middle;
  }

  .cart .img-cart1 .items .min {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: green;
    font-size: 10px;
    font-weight: bold;
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }

  .cart .img-cart1 .items .number {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: #82de3a;
    font-size: 10px;
    font-weight: bold;
    background: #ffffff;
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }

  .cart .img-cart1 .items .plus {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: green;
    font-size: 10px;
    font-weight: bold;
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }
  .cart .img-cart1 .items p {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 33px;
  }

  .cart .img-cart1 .price {
    font-size: 20px;
    margin-top: 60px;
    padding-right: 20px;
    font-weight: bold;
  }
  /* 2 ------------------------- */
  .cart .img-cart2 {
    display: flex;
    justify-content: space-between;
  }

  .cart .img-cart2 img {
    padding: 20px;
    width: 110px;
    height: 110px;
    vertical-align: middle;
  }

  .cart .img-cart2 .items .min {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: green;
    font-size: 10px;
    font-weight: bold;
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }

  .cart .img-cart2 .items .number {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: #82de3a;
    font-size: 10px;
    font-weight: bold;
    background: #ffffff;
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }

  .cart .img-cart2 .items .plus {
    display: inline-block;
    border: 1px solid limegreen;
    padding: 5px 10px;
    color: green;
    font-size: 10px;
    font-weight: bold;
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82de3a;
    box-sizing: border-box;
  }
  .cart .img-cart2 .items p {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 33px;
  }

  .cart .img-cart2 .price {
    font-size: 20px;
    margin-top: 60px;
    padding-right: 20px;
    font-weight: bold;
  }

  .cart .total h4 {
    margin-top: 200px;
    font-size: 20px;
    font-weight: bold;
  }

  .cart .total p {
    font-size: 15px;
    color: grey;
  }
}
